*{
    margin-right: 5cm;
    margin-left: 5cm;
    line-height: normal;
    
}
h2{
    color: mediumpurple;

}
li{
     color: mediumpurple;


}
table{
    background-color: rgb(255, 183, 183);

}
.lila{
    color: mediumpurple;

}